body {
  margin: 0;
}

.container {
  display: grid;
  /* position: relative; */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas: ' header header header header header header header header header '
                       ' .      . contenu contenu contenu contenu contenu .      .      '
                       ' footer footer footer footer footer footer footer footer footer ';
  justify-items: center;
  align-items: center;
  justify-content: start;
  /* background-color: rgba(255, 0, 0, 0.3); */
  border: 2px solid #f76707;
  border-radius: 5px;
}

.container > * {
  border: 2px solid #ffa94d;
  border-radius: 5px;
}

/* prendre taille du parent */
.header{
  grid-area: header;
  justify-self: center;
}
.listProjects{
  grid-area: contenu;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  /* height: 100%;
  width: 100%; */
}

.footer{
  grid-area: footer;
}

.projectLink:link, .projectLink:visited {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Lucida Console";
  transition: 1s;
}

.projectLink:hover {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 100px 100px;
}

#myCanvas{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

}


.blurred{
    animation-name: blur;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes blur {
  from{filter: blur(0px);}
  to {filter: blur(4px);}
}
